@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  font-family: "Poppins", sans-serif;
}
:root {
    /* --color-primary: #cae6d2;
    --color-secondary: #f0f0f0;
    --color-text: #9171f8;
    --color-para: #007bff;
    --color-btn: #090808; */

    /* New component colors */
    --color-primary-bg: #cae6d2;
    --color-secondary-bg: #e6feed;
    --color-highlight-text: #68a378;
    --color-primary-text: #263238;
    --color-secondary-text: #7d9183;
    --color-primary-btn: #263238;
    transition: color 3s ease, background-color 3s ease;
  }

/* Global thin scrollbar */
::-webkit-scrollbar {
  width: 4px; /* Thin scrollbar width */
  height: 4px; /* For horizontal scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #68a378; /* Scrollbar color */
  border-radius: 10px;    /* Rounded scrollbar */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #68a378; /* Darker color on hover */
}

::-webkit-scrollbar-track {
  background: transparent; /* Transparent background for the track */
}

/* For Firefox */
* {
  scrollbar-width: thin;       /* Thin scrollbar width for Firefox */
  scrollbar-color: #68a378 transparent; /* Scrollbar color and track color for Firefox */
}

  